.commission-view-wrapper {
  width: 100%;
  height: calc(100vh - 70px);
  position: relative;
  padding: 1.5em;
}

.commission-view {
  /* border: solid thin rgba(255,255,255,.2); */
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
}

.commission-tools-wrapper {
  background: rgba(255,255,255,.05);
  margin-bottom: 1em;
  /* border: thin solid rgba(255,255,255,.2); */
}

ul.tools-list {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0px;
}

.commission-tool {
  padding: .3em;
}
.commission-tool:hover {
  background-color: rgba(255,255,255,.3);
  cursor: pointer;
}

.commission-list {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.commission-item {
  margin: 0em 0em 0em 0em;
  border-top: solid 1px rgba(255,255,255,.1);
  display: flex;
  flex-direction: column;
  font-size: .9em;
  position: relative;
  overflow: hidden;
}

.commission-item:first-child{
  border: none;
}

.commission-short-view{
  position: relative;
  display:flex;
  width: 100%;
  height: 100%;
  align-items: center;
  padding: .5em;
}

.commission-short-view:hover {
  cursor: pointer;
  background-color: rgba(255,255,255,.2);
}

.short-view-subsection{
  width: 50%;
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}

.date-agent div{
  width: 100%;
}

.address div{
  width: 100%;
}

.commission-expanded-view {
  padding-top: 1em;
  margin-left: 3em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 200px;
  overflow: hidden;
  /* background-color: rgba(255,255,255,.05); */
  transition: height .3s, padding .3s;
}

.commission-expanded-view.hide-expanded-view {
  height: 0em;
  padding: 0px;
}

.money-row {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.notes-row {
  margin-top: 1em;
}

.data-item {
  margin-right: 1.5em;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: right;
}

.commission-row {
  display: flex;
  flex-direction: row;
}
.commission-row div {
  margin-right: 1em;
}

.selected-item {
  background-color: rgba(255,255,255,.05);
}

.data-label {
  color: rgba(255,255,255,.5);
  /* font-style: italic; */
  font-size: .7em;
  font-weight: 600;
}


